#todo-app {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#search-box, #calendar, #today-tasks, #week-tasks {
    margin-bottom: 10px;
}

/* Стиль модального окна */
.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Включить прокрутку, если нужно */
  background-color: rgb(0,0,0); /* Цвет фона */
  background-color: rgba(0,0,0,0.4); /* Цвет фона с прозрачностью */
}

/* Стиль содержимого модального окна */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ui-datepicker {
    font-family: "Arial", sans-serif;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 10px;
}

.ui-datepicker-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e3e3e3;
    line-height: 38px;
    text-align: center;
}

.ui-datepicker-title {
    font-weight: bold;
    color: #333333;
}

.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-color: #e9e9e9;
}

.ui-state-default {
    border: 1px solid #d3d3d3;
    color: #555555;
    background: #ffffff;
}

.ui-state-hover {
    border: 1px solid #999999;
    color: #212121;
    background: #eeeeee;
}

.ui-state-active, .ui-state-highlight {
    border: 1px solid #666666;
    color: #ffffff;
    background: #666666;
}

